<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Login</title>

</head>

<body>
	<form th:action="@{/login}" method="post">
		<input name="username" placeholder="Usuário" /> 
		<input type="password" name="password" 
		placeholder="Senha" />
		
		<button>Entrar</button>

		
	</form>
</body>
</html>
